*{
    box-sizing: border-box;
}

p{
    line-height: 25px;
    margin-top: 8px;
}

h1, 
h3, 
h4{
    font-size: 26px;
    font-family: 'Gloria Hallelujah', cursive;
    margin-bottom: 0;
}

h3{
    padding-left: 15px;
}
h5{
    font-weight: 200;
    padding: 5px;
    padding-bottom: 20px;
}
h4{
    font-size: 18px;
    padding-bottom: 7px;
    color: rgb(171, 42, 64);
}
body{
    margin: 0;
    background: rgb(234, 231, 236); 
}

.container{
    margin: 0 auto;
    max-width: 950px;
    background: whitesmoke;  
    padding-left: 20px;
    margin-bottom: 100px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 100px;
    background: rgb(154, 99, 154);
}

.menu a{
    text-decoration: none;
    padding: 15px 25px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 600px;
    font-family: 'Gloria Hallelujah', cursive;
}

.menu a:hover{
    color: rgb(243, 8, 47);
    transition: all ease-in-out 300ms;
}

.about-user{
    display: flex;
    justify-content: space-between;
}

.about-user div{
    width: auto;
}

.about-user img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.btn{
    background: rgb(243, 8, 47);
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 3px 3px 5px grey;
    font-style: 20px;
    padding: 12px 20px;
    margin-top: 115px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

.post-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
    box-shadow: 3px 3px 5px grey;

}

.post-container img{
    height: 310px;
    width: 310px;
}
.post-container p{
    padding-left: 15px;
}
 
/*My work*/
.my-work{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 15px;
}
.my-work img{
    height: 310px;
    width: 310px;
}

.contact{
    text-align: center;
    font-weight: 800;
}
.networks a{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-decoration: none;
    
}

/*footer*/
footer{
    margin-top: 50px;
    background: rgb(224, 221, 221);
}
.folowing{
    margin-top: 50px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.socials{
    margin: 0 auto;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.fb, .inst{
    border-radius: 9px;
    box-shadow: 3px 3px 5px grey;
}

.developer{
    text-align: center;
    margin: 0;
}

@media (max-width: 768px){
    .menu{
        margin-bottom: 50px;
    }
    .menu a{
        font-size: 14px;
    }
    .about-user{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .about-user div{
        order:1;
        text-align: center;
    }
    .about-user img{
        height: 200px;
        width: 200px;
        margin-top: 10px;
    }
    .btn{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .post-container{
        flex-direction: column;
        align-items: center;
    }
    .post-container div{
        order:2;
        text-align: center;
    }
    .post-container img{
        margin-top: 15px;
    }
    p, h1{
        padding-right: 17px;
    }
    /*media for works*/
    .my-work{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .my-work img{
        width: 320px;
        height: 320px;
        padding: 8px 8px;
    }
    .folowing{
       margin: 0;
       padding: 0;
    } 
}